@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: var(--primary-color);
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: flex-end;
    background: var(--secondary-color);
}

#search {
    padding: .5rem 1rem;
    min-width: 15rem;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: #fff;
    transition: background 0.3s ease;
}

#search::placeholder {
    color: #7378c5;
}

#search:focus {
    outline: none;
    background: var(--primary-color);
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    background: var(--secondary-color);
    margin: 1rem;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.movie img {
    width: 100%;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    color: #eee;
    align-items: center;
    padding: .5rem 1rem 1rem;
    letter-spacing: 1.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background: var(--primary-color);
    padding: .2rem .4rem;
    border-radius: 4px;
    color: #eee;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background: #fff;
    padding: 2rem;
    transform: translateY(101%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
    max-height: 100%;
}

.movie:hover .overview {
    transform: translateY(0);
}